@import 'css/common/vars/vars.css';
@import 'css/common/typography.css';

.welcomePage {
	composes: text;
	background-color: var(--backgroundColor);
	display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}