@font-face {
  font-family: "PlexMono";
  src: url('../../../src/assets/fonts/IBMPlexMono-Light.woff') format("woff");
}

:root {
	--background: #fcf8f3;
	--mainBlack: #241c15;
}

.welcomePage {
	background-color: var(--background);
	display: flex;
	font-family: PlexMono;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}