@import 'css/common/vars/vars.css';

:root {
	--fontSize: 10px;
	--grey: #f2f2f2;
	--border: 1px solid #f6f8fa;
	--borderInvalid: 2px solid #ff0000;
}

.app {
	width: 100vh;
    height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--backgroundColor);
}